name: Build C++ Game

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile
      run: |
        g++ main.cpp -o game.exe

    - name: Upload exe
      uses: actions/upload-artifact@v4
      with:
        name: game
        path: game.exe
